<div class="app">
  <div class="instance">
    <div class="input-image">
      <img class="cloud-upload" src="cloud-upload0.svg" />
      <div class="input-text">Drop a file or click to upload</div>
    </div>
    <div class="result-image">
      <div class="frame-3">
        <img class="loading" src="loading0.svg" />
        <div class="input-text">Drawing an image... 99%</div>
      </div>
    </div>
  </div>
  <div class="nav-bottom">
    <div class="button-text">
      <img class="image" src="image0.svg" />
    </div>
    <div class="button-text2">
      <img class="format-text" src="format-text0.svg" />
    </div>
    <div class="background-shadow">
      <div class="input-text2">커피숍에 앉아있는 여자</div>
      <div class="queue-prompt">
        <img class="brush" src="brush0.svg" />
        <div class="draw">Draw</div>
      </div>
    </div>
  </div>
</div>
